.App{
  min-height:100vh ;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.search-form{
  align-items: center;
  min-height: 10vh;
  display: flex;
  justify-content: center;
}

.search-bar{
  min-width: 50%;
  height: 30px;
  padding-left: 15px;
  border-radius: 8px;
}
.search-button{
margin-left: 5px;
border-radius: 35px;
}
.Navbar{
  background-color: rgb(24, 128, 189);
}
::placeholder {  
  color: rgb(34, 114, 219);
  opacity: 1; 
}
.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
::-webkit-input-placeholder {
  font-style: italic;
}